# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
*.VC.opendb
*.VC.db

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
WarhammerBattle/Debug/WarhammerBattle.exe
*.ilk
WarhammerBattle/WarhammerBattle/Debug/WarhammerBattle.tlog/CL.command.1.tlog
*.tlog
*.log
*.pdb
*.db
*.idb
WarhammerBattle/WarhammerBattle.VC.VC.opendb
WarhammerBattle/WarhammerBattleGenerator/bin
WarhammerBattle/WarhammerBattleGenerator/obj
